<div id="error"></div>

<div id="bandeau">
	<h1 id="chatTitle">Chat ZZ</h1>
	<button id="deconnectButton" ng-click="disconnect()">Se déconnecter</button>
</div>

<div id="usersPart">
	<h2>Utilisateurs connectés :</h2>
	
	<ul class="usersList" ng-repeat="user in users">
		<li>{{ user }}</li>
	</ul>
	
</div>

<div id="messagesPart">
	<div id="messagesList">
		<h2>Messages :</h2>
		<ul ng-repeat="msg in messageData" style="list-style-type:none">
			<li>{{ msg.message }}</li>
			<li>{{ msg.owner }}</li>
			<li>{{ msg.date }}</li>
		</ul>
	</div>
	
	<form ng-submit="sendMessage()">
		<div id="sendMessages">
			<textarea id="message" placeholder="votre message" ng-model="formData.message"></textarea>
			<button type="submit">Envoyer</button>
		</div>
	</form>
</div>

<pre>
	{{ formData }}
</pre>


<div id="result">
	{{ message }}
</div>