*
{
	margin: 0;
	padding: 0;
}

#welcomePart
{
	position: absolute;
	top: 40%;
	width: 60%;
	text-align: center;
	font-size: 200%;
}

#connectFormPart
{
	position: absolute;
	top: 40%;
	left: 60%;
}

#bandeau {
	width:100%;
	height:80px;
	background-color:#00CCFF;
	}

#chatTitle{
	color: #000000;
	margin-top:20px;
	margin-left:25px;
	float:left;
}

#languageSelection{
    margin-top:30px;
	margin-right:40px;
	width: 80px;
	float: right;
}

#languageSelect{
	margin-top:30px;
	margin-right:25px;
	width: 80px;
	float: right;
}

#deconnectButton{
	margin-top:25px;
	margin-right:25px;
	float: right;
}

.usersList{
	padding-left: 2%;
}

#usersPanel{
	word-wrap: break-word;
}

#userListPanel{
	height: 100%;
	max-height: 450px;
	overflow: auto;
}

#usersPart{
	margin-top: 1%;
	min-height: 400px;
	float: right;
}

#messagesPart{
	margin-top: 1%;
	border-radius: 0.25em;
}

#messagesPanel{
	word-wrap: break-word;
	margin-bottom: 0;
}

#messagesList{
	height: 100%;
	max-height: 450px;
	overflow: auto;
}

#sendMessages{
	margin-top: 1.5%;
	height:100px;
	border-radius: 0.25em;
}

#sendButton{
	margin-left: 420px;
	margin-top:-188px;
	vertical-align: middle;
}

#message{
	height:100px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:10px 0;
}
.ta-scroll-window.form-control{
	height:120px;
	min-height:120px;
}
.ta-scroll-window > .ta-bind{
	min-height:115px;
}

#connectFormTitle
{
	color: #800000;
}

.blueTitle
{
	color: #00C;
	font-size: 150%;
	margin-bottom: 20px;
}

.leftPart
{
	float: left;
}

#nicknameInput
{
	width: 98%;
}

#connectFormCheckbox
{
	margin-right: 10px;
	margin-top: 8px;
}

input
{
	margin-bottom: 10px;
}

.errorField
{
	display: block;
	color: red;
	margin-bottom: 5px;
}

button
{
	background: #0066FF;
	color: #FFF;
	border-radius: 3px;
	padding: 6px 16px;
	border: 1px solid #0C6EBE;
}

button:hover
{
	background: #30496E;
}

button:disabled
{
	background: #AAAAAE;
	border: 1px solid black;
}
