<div id="error"></div>

<div id="bandeau">
	<h1 id="chatTitle">Chat ZZ</h1>
	<select id="languageSelect" ng-model="language" ng-options="l.name for l in languages"></select>
	<button id="deconnectButton" ng-click="disconnect()">Se déconnecter</button>
</div>

<div id="usersPart" class="col-md-4">
	<div id="usersList" class="panel panel-primary">
		<div class="panel-heading">
			Utilisateurs connectés :
		</div>
		
		<div class="panel-body">
			<ul class="usersList" ng-repeat="user in users">
				<li>{{ user }}</li>
			</ul>
		</div>
	</div>
</div>

<div id="messagesPart" class="col-md-8">
	<div id="messagesPanel" class="panel panel-info">
		<div class="panel-heading"> Messages :</div>
		<div id="messagesList" class="panel-body">
			<ul ng-repeat="msg in messageData" style="list-style-type:none">
				<li>{{ msg.message }}</li>
				<li><small class="text-muted">{{ msg.owner }} | {{ msg.date }}</small></li>
			</ul>
		</div>
	</div>
</div>

<div id="sendingPart" class="col-md-8">
	<form ng-submit="sendMessage()">
		<div id="sendMessages">
			<textarea id="message" placeholder="votre message" ng-model="formData.message"></textarea>
			<button type="submit">Envoyer</button>
		</div>
	</form>
</div>


<div id="result">
	{{ message }}
</div>